extends layout 

block append style
  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

block content
  h1.text-centers
    //a(href='/')
     //img(src='/images/logo.png')
  //h1='Kosign API Admin Page'

  button.btn.btn-danger#btn_cnewapi(type='submit', data-popup-open='popup-1') Create New API 
  //, data-popup-open='popup-1'
  br 
  br
  //li.list-group-item: a(href = api, data-popup-open='popup-2', attr='#{api}') #{apiInfo[api].name}
  ul.list-group#allListDataAdmin
    - for (var api in apiInfo)
      li.list-group-item: a(href = api, attr='#{api}') #{apiInfo[api].name}
      
  .container 
    .popup(data-popup='popup-1')
      .popup-inner(style='margin-top: 73px; max-width: 700px;')
        form#create_api(method='post', action='/createapi', role='form')
          .messages
            .controls
              fieldset
                legend Create API
                .row
                  .col-md-6
                    .form-group
                      label(for='keyApi') API KEY *
                      input#keyApi.form-control(type='text', name='keyApi', placeholder='Enter api key', required='required', data-error='key api is required.')
                      .help-block.with-errors
                  .col-md-6
                    .form-group
                      label(for='valueApi') API Value Name *
                      input#valueApi.form-control(type='text', name='valueApi', placeholder='Enter api value name', required='required', data-error='value api is required.')
                      .help-block.with-errors
              fieldset
                legend Create default data in file api
                .row
                  .col-md-6
                    .form-group
                      label(for='basePath') Base Path *
                      input#basePath.form-control(type='text', name='basePath', placeholder='Enter base path', required='required', data-error='base path is required.')
                      .help-block.with-errors
                  .col-md-6
                    .form-group
                      label(for='nameApi') Schedule Management Open API *
                      input#nameApi.form-control(type='text', name='nameApi', placeholder='Enter name api', required='required', data-error='nameapi is required.')
                      .help-block.with-errors
                .row
                  .col-md-6
                    .form-group
                      label(for='protocol') Protocol *
                      input#protocol.form-control(type='text', name='protocol', placeholder='Enter protocol', required='required', data-error='protocol is required.')
                      .help-block.with-errors
                  .col-md-6
                    .form-group
                      label(for='publicPath') Public Path *
                      input#publicPath.form-control(type='text', name='publicPath', placeholder='Enter public path', required='required', data-error='public path is required.')
                      .help-block.with-errors
                .row
                  .col-md-6
                    .form-group
                      label(for='version') Version *
                      select#version.form-control(name='version')
                        option 1.0
                        option 1.1
                        option 1.2
                        option 1.3
                  .col-md-6
                    .form-group
                      label(for='resource') Resource *
                      select#resource.form-control(name='resource')
                        option resources
                      //input#resource.form-control(type='text', name='resource', placeholder='Enter resource', required='required', data-error='resource is required.')
                      //.help-block.with-errors  
                .row
                  .col-md-6
                    .form-group
                      label(for='service') User Resources *
                      input#service.form-control(type='text', name='service', placeholder='Enter user resource', required='required', data-error='service is required.')
                      .help-block.with-errors
                  .col-md-6
                    .form-group
                      label(for='methods') Method *
                      select#methods.form-control(name='methods')
                        option methods
                .row
                  .col-md-12
                    input.btn.btn-success#btn_createapi(type='submit', value='Create API')
                    input.btn.btn-default.btncancel(type='button', value='Cancel', data-dismiss='modal', data-popup-close='popup-1')
        a.popup-close(data-popup-close='popup-1', href='#') x

    .popup(data-popup='popup-2')
      .popup-inner(style='margin-top: 154px; max-width: 700px;')            
        form#new_api(method='post', action='/newapi', role='form')
          .messages
              .controls
                fieldset
                    legend New Json Data
                    .row
                      .col-md-4
                        .form-group
                          label(for='nameapi') Show Users *
                          input#nameapi.form-control(type='text', name='nameapi', placeholder='Enter user', required='required', data-error='nameapi is required.')
                          .help-block.with-errors
                          input#data-attr.form-control(type='hidden', name='data_attr')
                      .col-md-4  
                        .form-group
                          label(for='desciption') User Information *
                          input#desciption.form-control(type='text', name='desciption', placeholder='Enter desciption ', required='required', data-error='desciption is required.')
                          .help-block.with-errors    
                      .col-md-4
                        .form-group
                          label(for='method') Type Method *
                          select#httpSelect.form-control(name='httpMethod')
                            option POST
                            option GET
                    .row
                      .col-md-4
                        .form-group
                          label(for='name') File Name *
                          input#name.form-control(type='text', name='name', placeholder='Enter file name', required='required', data-error='name is required.')
                          .help-block.with-errors
                      .col-md-4
                        .form-group
                          label(for='parameters') Parameters *
                          select#parameters.form-control(name='parameters')
                            option parameters
                      .col-md-4
                        .form-group
                          label(for='JSONData') JSON Data *
                          select#JSONData.form-control(name='JSONData')
                            option JSONData
                    .row
                      .col-md-12
                        .form-group
                          label(for='valueJson') Paste json data here *
                          textarea#valueJson.form-control(name='valueJson', placeholder='Enter json data here', rows='10', required='required', data-error='Values json is required.')
                          .help-block.with-errors
                    .row
                      .col-md-4
                        .form-group
                          label(for='desvalues') Description Values Json *
                          input#desvalues.form-control(type='text', name='desvalues', placeholder='Enter description values', required='required', data-error='description values is required.')
                          .help-block.with-errors
                      .col-md-4
                        .form-group
                          label(for='location') Location *
                          select#location.form-control(name='location')
                            option header
                            option body
                            option query
                      .col-md-4
                        .form-group
                          label(for='required') Required *
                          select#required.form-control(name='required')
                            option true
                            option false
                    .row
                      .col-md-12
                        .form-group
                          label(for='type') Type *
                          select#type.form-control(name='type')
                            option textarea
                            option string
                            option boolean
                    .row
                      .col-md-12
                        input.btn.btn-success#btn_newapi(type='submit', value='New API')
                        input.btn.btn-info.btncancel(type='button', value='Cancel', data-dismiss='modal', data-popup-close='popup-2')
        a.popup-close(data-popup-close='popup-2', href='#') x  
block footer
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') 
    script(type='text/javascript', src='javascripts/adminpopup.js')
    script(type='text/javascript', src='javascripts/admin.js')