extends layout

block append style
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

block content
  br
  br
  br
  //- h1.text-center
  //-   a(href='/')
  //-    img(src='/images/logo.png')
  //- h1=title
  br
  h2 Choose an API
  #onload.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
      // Modal content
      .modal-content.loginmodel
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h3.modal-title(style='font-size: 20px; color: darkgreen;')
            i.fa.fa-exclamation-circle
            | Login
        .modal-body
          form(action='/login', method='POST', id='evevtlog')
            .form-group
              input#username.form-control(type='text', aria-describedby='usernameHelp', placeholder='Enter username', name='username')
            .form-group
              input#password.form-control(type='password', placeholder='Enter password', name='password')
            .form-check
              input#rememberme.form-check-input(type='checkbox', name='rememberme')
              label.form-check-label(for='remember', style='color: mediumvioletred;') &nbsp; Remember me
            br
            input.btn.btn-danger#btn_Login(type='submit', value='Login')
            input.btn.btn-primary(type='button', style='margin-left: 6px;', data-dismiss='modal', value='Cancel')
            span#demo_error
  ul.list-group#allListData
     - for (var api in apiInfo)
         li.list-group-item: a(href = api) #{apiInfo[api].name}
block footer
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(type='text/javascript', src='./javascripts/clientAPIs.js')

