!!! 5
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Kosign API Center'
        title = title
        // block add style to page
        block style

        link(rel='stylesheet', href='stylesheets/adminpopup.css')
        link(type="text/css",  href="stylesheets/form.css", rel="stylesheet")
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/prettify.css')     
        link(type='text/css', href='stylesheets/jquery-ui-latest.custom.css', rel='stylesheet')
        link(type='text/css', href='stylesheets/alpaca.css')
        link(type="text/css", href="stylesheets/form.css", rel="stylesheet")
        link(type="text/css", href="stylesheets/alpaca-jqueryui.css", rel="stylesheet") 

    body(style='padding-right: 0px; !important')
        // block content for body 
        block content
        // include navigation to all page
        include navigation.jade
        
        div(id='io-footer')
        div(class='f-left') &copy;
            a(href='https://www.kosign.com.kh') 2018 Kosign, All rights reserved.
        div(class='f-right') Powered by&nbsp;
            a(href='https://github.com/mashery/iodocs') I/O Docs Community Edition
        
        // block footer for all page
        block footer
            block script
            script(type='text/javascript', src='javascripts/jquery-1.11.1.min.js')
            script(type='text/javascript', src='javascripts/jquery.tmpl.js')
            script(type='text/javascript', src='javascripts/jquery-ui-latest.custom.min.js')
            script(type='text/javascript', src='javascripts/alpaca.js')
            script(type="text/javascript", src="javascripts/form.js")
            script(src='javascripts/json2.js')
            script(src='javascripts/prettify.js')
            script(src='javascripts/utilities.js')
            script(src='javascripts/livedocs.js')
            script(src='javascripts/docs.js')
            script(src='javascripts/bookmarks.js')
        