#onload.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog
    // Modal content
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title
          i.fa.fa-exclamation-circle
          | Your title goes here
      .modal-body
        | Your content goes here
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Login