nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Kosign API Center
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/')
              span#gicon.glyphicon.glyphicon-home
              |  &nbsp;Home 
              span.sr-only (current)
          li  
            a(href='/')
              img(src='/images/logo.png', style='height: 40px; margin-top: -11px; margin-bottom: -15px; margin-left: 424px;')
        ul.nav.navbar-nav.navbar-right
          li 
            span#admimpage(style='line-height:  50px;color:  red;text-transform:  uppercase;cursor:  pointer;')
          li.dropdown
            a#nameuser.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              span.glyphicon.glyphicon-user(aria-hidden='true') &nbsp;
              span#profile
              span.caret
            ul.dropdown-menu.dropdown-cart(role='menu')
              li
                span.item
                  span.item-left
                    a#btnlogin(href='#', data-toggle='modal', data-target='.bs-example-modal-lg')
                      span.glyphicon.glyphicon-log-in(aria-hidden='true')
                      | &nbsp;&nbsp;Login
                  span.item-right
                    button.btn.btn-xs.btn-danger.pull-right#btnSwitch x
              li.divider
              li
                a(href='/logout', style='margin-left: 11px;')
                  span.glyphicon.glyphicon-log-out(aria-hidden='true')
                  |  &nbsp;Logout
      // /.navbar-collapse
    // /.container-fluid