h1.text-center
    a(href='/')
     img(src='/images/logo.png')
  h1='Admin Page'

  ul.list-group
     - for (var api in apiInfo)
         li.list-group-item: a(href = 'javascript:') #{apiInfo[api].name}