/* Outer */
.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background:rgba(0,0,0,0.30);
}

/* Inner */
.popup-inner {
    max-width: 500px;
    width: 90%;
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background:#fff;
}

.popup-inner h4 {
    color: brown;
    text-transform: uppercase;
}

/* Close Button */
.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background:rgba(0,0,0,0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.btncancel {
    color: white;
    background-color: cadetblue;
    margin-left: 5px;
}

/* style for navbar admin */
ul.dropdown-cart{
    min-width:222px;
}

ul.dropdown-cart li .item{
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}

ul.dropdown-cart li .item-left span.item-info{
    margin-left: 10px;   
}

ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}

ul.dropdown-cart li .item-right{
    float:right;
}

ul.dropdown-cart li .item-right button{
    margin-top: 1px;
}

ul.dropdown-cart li .item-right button:hover {
    background-color: teal;
    color: red;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    font-weight: bold;
    color: brown;
}

.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: darkgreen;
}

.navbar-default .dropdown-menu .divider {
    border: 1px solid darkseagreen;
  }

.navbar-default .navbar-nav>li>a:hover {
    color: rebeccapurple;
}

.dropdown-menu>li>a {
    font-weight: bold;
}

@media (min-width: 768px) {
    ul.dropdown-cart li .item-left{
        float:left;
        margin-top: 6px;
        margin-left: 20px;
        font-weight: bold;
    }
    
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        font-weight: bold;
        color: rebeccapurple;
    }

    ul.dropdown-cart li .item-left a:hover {
        text-decoration: none;
    }

    .loginmodel {
        width: 376px;
        margin-left: 126px;
        margin-top: 70px;
        border: 1px solid red;
    }

    .reloginmodel {
        width: 376px;
        margin-left: 126px;
        margin-top: 70px;
        border: 1px solid royalblue;
    }

    .glyphicon-home:before {
        color: rebeccapurple;
    }

    .glyphicon-user:before {
        color: brown;
    }

    .glyphicon-log-in:before {
        color: chocolate;
    }

    .glyphicon-log-out:before {
        color: tomato;
    }

    #btnlogin {
        color: black;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        background-color: #E7E6FE;
    }
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons{
    margin:12px 0    
}

#login-dp .social-buttons a{
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media (max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/* css admin page  */
.bs-dark.navbar-inverse {
    background-color: #222;
    border-color: #080808;
  }
  .bs-dark .navbar-img {padding:5px 6px !important;}
  .bs-dark .navbar-img img {width:40px;}
  .bs-dark .dropdown-menu {
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    /* background-color: #000; */
    border: 1px solid rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  
  .bs-dark .dropdown-menu .divider {
    border: 1px solid mediumseagreen;
  }

  .bs-dark .dropdown-menu > li > a {
    padding: 6px 20px;
    /* color: rgba(255,255,255,0.80); */
  }
  .bs-dark .dropdown-menu > li > a:hover,
  .bs-dark .dropdown-menu > li > a:focus {
    /* color: rgba(255,255,255,0.70); */
    text-decoration: none;
    background-color: transparent;
  }
  .bs-dark .dropdown-menu > .active > a,
  .bs-dark .dropdown-menu > .active > a:hover,
  .bs-dark .dropdown-menu > .active > a:focus {
    color: rgba(255,255,255,0.70);
    text-decoration: none;
    background-color: transparent;
    outline: 0;
  }
  
  .bs-dark .navbar-form {
    margin:0;
    margin-top: 5px;
    padding:8px 0px;
  }
   
  .bs-dark .navbar-form .search-box {
    border:0px;
    height:35px;
    outline: none;
    width:320px;
    padding-right: 3px;
    padding-left: 15px;
    margin:4px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
  }
   
  .bs-dark .navbar-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -34px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
   
  .bs-dark .search-box:focus + button {
    z-index: 3;   
  }
  
  @media (min-width: 768px) {
      /* .bs-dark .dropdown:hover {background-color: #000;} */
      .bs-dark .dropdown:hover .dropdown-menu {
        display: block;
      }
      .bs-dark .navbar-form {
        padding:0px;
      }	
      .bs-dark .navbar-form .search-box {
        width:260px;
        height:32px;
      }
  
  }